{"Language" "Langue", "Translation test" "Test de traduction", "Greetings" "Bonjour", "Please confirm your email" "Veuillez confirmer votre email", "Welcome, %s!" "Bienvenue, %s!", ["product" "%s products"] ["produit" "%s produits"]}