{"Cancel" "Annuler", "Save" "Enregistrer", "Edit" "Modifier", "Greetings" "Bonjour", "Welcome, %s!" "Bienvenue, %s!", "first name" "prénom", "Title" "Titre", "Edit user" "Modifier utilisateur", "No users" "Pas d'utilisateurs", "User" "Utilisateur", "Back" "Retour", "New user" "Nouveau utilisateur", "Delete" "Effacer", "avatar" "avatar", "Add" "Ajouter", "Description" "Description", "Please confirm your email" "Veuillez confirmer votre email", "last name" "nom de famille", "Users" "Utilisateurs", "Reload" "Recharger", "Last name" "Nom de famille", "No user" "Pas d'utilisateurs", ["product" "%s products"] ["produit" "%s produits"], "Translation test" "Test de traduction", "First name" "Prénom", "Language" "Langue", "Are you sure?" "Êtes-vous sûr?"}