{"Language" "Taal", "Translation test" "Vertaling test", "Greetings" "Groeten", "Please confirm your email" "Bevestig uw e-mail", "Welcome, %s!" "Welkom %s!", ["product" "%s products"] ["product" "%s producten"]}