{"Cancel" "Annuleren", "Save" "Opslaan", "Edit" "Bewerken", "Greetings" "Groeten", "Welcome, %s!" "Welkom %s!", "first name" "voornaam", "Title" "Titel", "Edit user" "Bewerk gebruiker", "No users" "Geen gebruikers", "User" "Gebruiker", "Back" "Terug", "New user" "Nieuwe gebruiker", "Delete" "Verwijderen", "avatar" "avatar", "Add" "Toevoegen", "Description" "Omschrijving", "Please confirm your email" "Bevestig uw e-mail", "last name" "achternaam", "Users" "Gebruikers", "Reload" "Herladen", "Last name" "Achternaam", "No user" "Geen gebruikers", ["product" "%s products"] ["product" "%s producten"], "Translation test" "Vertaling test", "First name" "Voornaam", "Language" "Taal", "Are you sure?" "Weet u het zeker?"}