{:verbose true
 :log {:level :info}

 :source-paths ["src/clj" "src/cljs"]

 :dependencies [[org.clojure/clojure "1.10.1"]
                [org.clojure/clojurescript "1.10.520"]
                [reagent "0.9.0-SNAPSHOT"]
                [re-frame "0.10.9"]
                [day8.re-frame/http-fx "0.1.6"]
                [bidi "2.1.6"]
                [kibu/pushy "0.3.8"]
                [com.cemerick/url "0.1.1"]
                ^:dev [binaryage/devtools "0.9.10"]
                ^:dev [thheller/shadow-cljs "2.8.52"]
                ^:dev [org.clojars.unrealistic/re-frame-redux "0.1.0-SNAPSHOT"]]

 :dev-http {4200 "resources/public"}

 :builds {:client {:target :browser
                   :main bamse.browser/init
                   :modules {:main {:entries [bamse.browser]}}
                   :output-dir "resources/public/js"
                   :output-to "resources/public/js/main.js"
                   :asset-path "/js"
                   :dev {:devtools {:after-load bamse.client/reload
                                    :preloads   [devtools.preload]}}
                   :release {:output-dir "dist/client/js"
                             :output-to "dist/client/js/main.js"
                             :compiler-options {:optimizations :advanced}}}

          :server {:target :node-script
                   :main bamse.server/main
                   :output-dir "resources/server"
                   :output-to "resources/server/server.js"
                   :asset-path "/server"
                   :dev {:devtools {:after-load bamse.server/restart}}
                   :release {:output-dir "dist/server"
                             :output-to "dist/server/server.js"
                             :compiler-options {:optimizations :simple}}}}}
